@import "styles/variables";
@import "styles/shared";

.chains-dropdown {
  position: absolute;
  width: 280px;
  height: 0;
  overflow-y: auto;
  background: $background;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: $dropdownMenuIndex;
  right: 0;
  top: 55px;
  transition: height 0.15s;

  &--open {
    height: 400px;
  }

  &__item {
    margin: 0 auto;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: $button-hover-color;
      border-radius: 8px;
    }
    &__image {
      width: 1.8rem;
      margin-right: 10px;
    }
    &__name {
      font-size: 0.8rem;
      color: var(--color-text);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    @extend .unselectable;
    &__button {
      font-size: 0.8rem;
      @extend .button-borderless;
      padding: 18px;
      &__icon {
        height: 25px;
        width: auto;
        margin-right: 12px;
      }
      &__arrow {
        margin-left: 7px;
        transition: transform 0.2s ease-in-out;
        &--rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
}
