.addbundle {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: $modal-dialog-index;
  background-color: rgba(18, 19, 34, 0.7);
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  &--active {
    display: flex;
  }
  &__content {
    box-shadow: 0 4px 18px rgb(7 7 22 / 20%);
    max-width: 550px;
    max-height: 100%;
    background-color: $background;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    &__header {
      @extend .flexCenter;
      justify-content: space-between;
      width: 100%;
      color: $text-color-dark;
      font-weight: bold;
      padding-bottom: 20px;
      &__exit {
        @extend .button-borderless;
        font-size: 20px;
      }
    }
    &__body {
      @extend .flexCenter;
      justify-content: flex-start !important;
      align-items: flex-start;
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
      padding-bottom: 20px;
      &__input {
        @extend .textInput;
        margin-bottom: 10px;
        margin-right: 10px;
      }
      &__button__wrapper {
        width: 100%;
        @extend .flexCenter;
        justify-content: flex-end;
        &__button {
          @extend .button;
          &__loadng {
            margin-right: 10px !important;
          }
        }
      }
    }
  }
}
