:root {
  --color-primary: #00ff9f;
  --color-secondary: #2d2d32;
  --color-text: #ffffff;
  --color-text-muted: #9da0a6;
  --color-success: #28a745;

  /* Backgrounds */
  --color-background: #16161a;
  --color-overlay: rgba(29, 29, 33, 0.5);
}

$background: #1d1d21;
$background-dark: #16161a;
$button-hover-color: #29292c;
$button-active-bg-color: #ffff;
$success-color: green;
$danger-color: #f4212e;
$tooltip-dark-color: lighten($background-dark, 30);

$header_footer_height: 65;
$dropdownMenuIndex: 9;
$modal-dialog-index: 20;
$loading_index: 21;
$header_index: 20;
