.home {
  display: flex;
  width: 100%;
  min-height: calc(100vh - #{$header_footer_height}px);
  max-width: 1480px;
  margin: 0 auto;
  border-left: 1px solid $border;
  border-bottom: 1px solid #2d2d32;
  border-radius: 8px;

  &__header {
    padding-top: 10px;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    &__add {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1480px;
      margin: 0 auto;
      padding: 0 20px;
      &__wallet {
        margin-top: 15px;
        margin-right: 15px;
        font-size: 0.7rem;
        position: relative;
        @extend .button-borderless;
        @extend .unselectable;
        &--active {
          border: 1px solid $success-color;
          &__tooltip {
            @extend .tooltip-bottom;
          }
          &:hover .home__header__add__wallet--active__tooltip {
            visibility: visible;
          }
        }
      }
      &__cex {
        margin-top: 15px;
        margin-right: 15px;
        font-size: 0.7rem;
        @extend .button-borderless;
        @extend .unselectable;
        &--active {
          border: 1px solid $success-color;
          cursor: unset !important;
        }
      }
    }
    &__second {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      max-width: 1480px;
      padding: 0 21px;
      margin: 0 auto;
      margin-top: 30px;
      padding-bottom: 20px;
      min-height: 80px;
      &__first {
        &__total-balance {
          display: flex;
          flex-direction: column;
          &__label {
            padding-left: 2px;
            color: darken($text-color-dark, 40%);
          }
          &__value {
            font-size: 30px;
            font-weight: 600;
            color: $text-color-dark;
          }
        }
        &__last-update {
          padding-top: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 14px;
          &__label {
            padding-left: 2px;
            padding-right: 5px;
            color: darken($text-color-dark, 40%);
            &--value {
              font-weight: 600;
              color: $text-color-dark;
            }
          }
        }
      }

      &__filter {
        display: flex;
        flex-direction: column;
        position: relative;
        @extend .unselectable;
        &__button {
          font-size: 0.8rem;
          @extend .button-borderless;
          padding: 18px;
          &__icon {
            width: 1.5rem;
            margin-right: 10px;
          }
          &__arrow {
            margin-left: 5px;
          }
        }
      }
    }

    &__assets {
      width: 100%;
    }
  }
  &__utilities {
    width: 30%;
    border-right: 1px solid $border;
    border-left: 1px solid $border;
  }
  &__eth {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
  }
}
