.accounts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  &__account {
    color: $text-color-dark;
    padding: 15px;
    border: 1px solid $border;
    border-radius: 8px;
    width: 32%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
    &__info {
      &__title {
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
      }
      &__item {
        font-size: 13px;
        margin-bottom: 10px;
        word-wrap: break-word;
      }
    }
    &__buttons {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      &__button {
        @extend .button;
        font-size: 12px;
        padding: 6px;
      }
    }
  }
}
