@import "../../css/variables.scss";
@import "../../css/shared.scss";

.asset-table {
  border: 1px solid $border;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  height: 60vh;
  overflow-y: scroll;
  &__header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    &__item {
      width: 20%;
      text-align: center;
      color: $text-color-dark;
      font-weight: 700;
      font-size: 0.8rem;
      &--left {
        text-align: left;
      }
      &--right {
        text-align: right;
      }
    }
  }
  &__assets {
    width: 100%;
    &__loading {
      height: 50vh;
      @extend .flexCenter;
      &--white {
        color: $text-color-dark;
      }
    }
    &__asset {
      border-bottom: 1px solid $border;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      &--first {
        border-top: 1px solid $border !important;
      }
      &--last {
        border-top: unset !important;
        border-bottom: unset !important;
      }
      &:hover {
        border-bottom: 1px solid transparent !important;
        border-radius: 8px;
        background-color: $bottonHover;
      }

      &__item {
        width: 20%;
        text-align: center;
        color: $text-color-dark;
        font-size: 0.8rem;

        &__image {
          width: 20px;
          margin-right: 10px;
        }
        &--right {
          text-align: right;
        }
        &--left {
          text-align: left;
        }
      }
    }
  }
}
