@import "../../css/variables.scss";
@import "../../css/shared.scss";

.home {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 56px);
  max-width: 1480px;
  margin: 0 auto;
  border-left: 1px solid $border;

  &__header {
    padding-top: 10px;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    &__bundle {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0px 0px 30px 20px ;
      &__available {
        @extend .button;
        margin-top: 15px;
        margin-right: 15px;
        font-size: 0.8rem;
        &--active {
          background-color: $button-active-bg-color;
          color: $background-dark;
          pointer-events: none;
        }
      }
      &__button {
        margin-top: 15px;
        margin-right: 15px;
        font-size: 0.8rem;
        @extend .button;
      }
    }
    &__add-wallets {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1480px;
      margin: 0 auto;
      padding: 0 20px;
      &__button {
        margin-top: 15px;
        margin-right: 15px;
        font-size: 0.7rem;
        @extend .button;
        @extend .unselectable;
        &--active {
          border-color: $success-color;
        }
      }
    }
    &__second {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      max-width: 1480px;
      padding: 0 21px;
      margin: 0 auto;
      margin-top: 30px;
      padding-bottom: 20px;
      min-height: 80px;
      &__total-balance {
        display: flex;
        flex-direction: column;
        &__label {
          padding-left: 2px;
          color: darken($text-color-dark, 40%);
        }
        &__value {
          font-size: 30px;
          font-weight: 600;
          color: $text-color-dark;
        }
      }
      &__filter {
        display: flex;
        flex-direction: column;
        position: relative;
        @extend .unselectable;
        &__button {
          font-size: 0.8rem;
          @extend .button;
          padding: 18px;
          &__icon {
            width: 1.5rem;
            margin-right: 10px;
          }
          &__arrow {
            margin-left: 5px;
          }
        }
      }
    }

    &__assets {
      width: 100%;
    }
  }
  &__utilities {
    width: 30%;
    border-right: 1px solid $border;
    border-left: 1px solid $border;
  }
  &__eth {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
  }
}
