@import "../../styles/variables.scss";
@import "../../styles/shared.scss";

.header {
  width: 100%;
  background-color: $background;
  color: white;
  height: 56px;
  border-bottom: 1px solid $border;
  position: sticky;
  top: 0;
  z-index: $header_index;
  &__content {
    max-width: 1480px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 20px;
    &__brand {
      display: flex;
      align-items: center;
      &__image {
        width: 30px;
        padding-right: 5px;
      }
      &__label {
        font-size: 22px;
        font-weight: 600;
        @extend .unselectable;
      }
    }
  }
}

.metamask-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.metamask-tooltip {
  font-size: 12px;
}

.metamask-button:hover {
  background-color: $button-hover-color;
}
.metamask-button-img {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}
.metamask-button-text {
  padding-left: 5px;
  font-size: 12px;
}
