$background: #1d1d21;
$background-dark: #16161a;
$border-dark: rgba($background-dark, 0.88);
$border: #2d2d32;
$text-color-dark: white;
$bottonHover: #29292c;

$dropdownMenuIndex: 9;
$modal-dialog-index: 20;
