$background: #1d1d21;
$background-dark: #16161a;
$border-dark: rgba($background-dark, 0.88);
$border: #2d2d32;
$text-color-dark: white;
$button-hover-color: #29292c;
$button-active-bg-color: #ffff;
$fainted-color: #9da0a6;
$success-color: green;

$dropdownMenuIndex: 9;
$modal-dialog-index: 20;
$loading_index: 21;
$header_index: 20;

