.sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    border-right: 1px solid #141A1E;
    min-height: 100vh;
}

.sidebar-appname {
    font-size: 22px;
    font-weight: 700;
}

.sidebar-wallet {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #141A1E;
    margin-top: 40px;
    width: 130px;
}

.sidebar-links {
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-link {
    font-size: 20px;
}
.sidebar-link:hover {
    cursor: pointer;
    color: #7D107B;
}
