@import "../../styles/variables.scss";

.footer {
  height: 70px;
  width: 100%;
  &__area {
    padding: 10px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    &__logo {
      display: flex;
      align-items: center;
      &__image {
        width: 30px;
        padding-right: 5px;
      }
      &__label {
        font-size: 16px;
        color: $text-color-dark;
      }
    }
    &__links {
      display: flex;
      align-items: center;
      &__twitter {
        width: 30px;
        padding-right: 5px;
      }
    }
  }
}
