@import "../../styles/variables.scss";

.footer {
  height: $header_footer_height + px;
  width: 100%;
  &__area {
    background-color: $background;
    max-width: 1480px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    &__logo {
      width: 50%;
      display: flex;
      align-items: center;
      &__image {
        width: 30px;
        padding-right: 5px;
      }
      &__label {
        color: $text-color-dark;
      }
    }
    &__links {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      &__label {
        color: white;
        font-size: 16px;
      }
      &__link {
        color: white;
        font-size: 24px;
      }
    }
  }
}
