@import "@styles/_variables";
@import "@styles/_shared";

.footer {
  height: $header_footer_height + px;
  width: 100%;
  background-color: $background;
  &__area {
    padding: 0 20px;
    height: 100%;
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: $background;

    &__links {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 100px;
      &__label {
        color: white;
        font-size: 16px;
        white-space: nowrap;
      }
      &__link {
        color: white;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 1268px) and (min-width: 0px) {
  .footer {
    &__area {
      &__links {
        width: 100%;
        gap: 50px;
        &__label {
          font-size: 14px;
        }
        &__link {
          font-size: 20px;
        }
      }
    }
  }
}
