.chains-dropdown {
  position: absolute;
  width: 280px;
  height: 0;
  overflow-y: auto;
  background: $background;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: $dropdownMenuIndex;
  right: 0;
  top: 60;
  transition: height 0.15s;

  &--open {
    height: 400px;
  }
  &__item {
    margin: 0 auto;
    margin-top: 6px;
    width: 90%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: $button-hover-color;
      border-radius: 8px;
    }
    &__image {
      width: 1.8rem;
      margin-right: 10px;
    }
    &__name {
      font-size: 0.8rem;
      color: $text-color-dark;
    }
  }
}
