@import "../../css/variables.scss";
@import "../../css/shared.scss";

.assets {
  &__links {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $border;
    padding: 0 20px;
    &__link {
      padding: 20px 30px;
      margin-right: 20px;
      color: $text-color-dark;
      border-bottom: 1px solid transparent;
      
      @extend .unselectable;
      @extend .flexCenter;
      &:hover {
        background-color: lighten($background-dark, 20%);
        border-radius: 8px 8px 0 0;
        cursor: pointer;
      }
      &--active {
        background-color: unset !important;
        border-bottom: 1px solid red;
        border-radius: unset !important;
        cursor: unset !important;
      }
    }
  }
  &__table {
    padding: 0 20px;
    padding-top: 20px;
    width: 100%;
  }
}
